*{margin:0; padding:0;}

body{
	background: #999;
}

.container{
	background: white;
	max-width: 1024px;
	height: 2000px;
	margin: auto;
}

.about_container{
	background-color: lime;
	width: 100%;
	height: 40%;
}

.menu_container{
	background-color: white;
	width: 100%;
	height: 40%;
}

#thumbnail_container{
	background-color: orange;
	width: 90%;
	height: 90%;
	margin: auto;
	overflow: hidden;
}

.thm_delay1{
	background: red;
	width: 21%;
	height: 22%;
	display: inline-block;
	margin-left: 0;
	margin-right: 2%;
	transition: all 800ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transform: translate(0, -110%);
}
.thm_delay1.is-active{
	-webkit-transform: translate(0,0);
}

.thm_delay2{
	background: red;
	width: 21%;
	height: 22%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	transition: all 700ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transform: translate(0, -110%);
}
.thm_delay2.is-active{
	-webkit-transform: translate(0,0);
}

.thm_delay3{
	background: red;
	width: 21%;
	height: 22%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	transition: all 600ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transform: translate(0, -110%);
}
.thm_delay3.is-active{
	-webkit-transform: translate(0,0);
}

.thm_delay4{
	background: red;
	width: 21%;
	height: 22%;
	display: inline-block;
	margin-left: 2%;
	margin-right: 0;
	transition: all 900ms cubic-bezier(0.550, 0.055, 0.675, 0.190);
	-webkit-transform: translate(0, -110%);
}
.thm_delay4.is-active{
	-webkit-transform: translate(0,0);
}

.contact_container{
	background-color: yellow;
	width: 100%;
	height: 20%;
}