body{
	width: 8000px;
	/*height: 768px;*/
	margin-left:0px;
	margin-top:0px;
}

/*#container{
	width: 8000px;
}*/

.box{
	background-color: orange;
	width: 1024px;
	height: 768px;
	float: left;
	color: white;
	font-family: "Georgia", serif;
	font-size: 25px;
}

.textbox{
	width: 550px;
	padding-left: 100px;
	padding-top: 40px;
}

a {
	text-decoration: none;
	color: yellow;
}

a:hover {
	color:yellow;
}